#topSide {
    height: 40vh;
    margin-top: 0.5rem;
    display: flex;
}

#subOne {
    padding-right: 3rem;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#subImg {
    object-fit: cover;
    width: 50%;
    border-radius: 0.3rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

#subProduct {
    width: 24%;
    height: 400px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: ". ." ". .";
}

.carousel-img {
    height: 350px;
}

.carousel-preview {
    height: 80px;
}

.news-img {
    height: 250px;
    object-fit: cover;
}


@media screen and (max-width: 770px) {
    #subProduct {
        width: 30%;
        height: 350px;
    }

    #topSide {
        flex-direction: column;
        height: unset;
    }

    #subImg {
        display: none;
    }

    #subOne {
        width: 100%;
    }

    #subImg {
        padding-top: 3rem;
    }

    .carousel-img {
        height: unset;
        width: 100%;
    }

    .carousel-inside {
        height: 350px;
    }

    #navbar {
        width: 100% !important;
        border: 1px solid lightgrey;
        border-radius: 3px;
    }

    #navbar li {
        width: 100%;
        text-align: center;
        font-size: 16px;
        border-bottom: 1px solid lightgrey;
        padding: 3px;
    }

    #more-article{
        flex-direction: column !important;
        align-items: center !important;
    }

    #more-article .card{
        margin-bottom: 1rem;
    }

}


@media screen and (max-width: 540px) {
    #subProduct {
        width: 45%;
        height: 350px;
    }

}

@media screen and (max-width: 440px) {
    #noMobile {
        display: none;
    }

    #subTwo {
        flex-direction: column;
    }

    #subProduct {
        width: 100%;
    }

    #subFocus {
        width: 100% !important;
    }

    #preview {
        display: none;
    }

}



